body {
    background-color: lightseagreen;
}

.title {    
    border: 10px double black;
    border-radius: 1rem;
    background-color: rgb(202, 202, 202);
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-variant: all-small-caps;
}

.title {
    font-size: 4rem;
    padding: 15px;
    margin: 30px;
}

img {
    border: 10px double black;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    width: 350px;
    height: 400px;
    background-color: rgb(202, 202, 202);
}

.item {
    padding: 15px 25px;
    text-align: center;
    display: inline;
}



a:link, a:visited {
    text-decoration: none;
    color: black;
    text-align: center;
    display: inline-block;
}

a:hover, a:active {
    text-decoration: line-through;
    color:aliceblue;
}