body {
    background-color: lightseagreen;
    font-family: sans-serif;
}

.header {
    font-size: 50px;
    font-variant: small-caps;
    text-align: center;
}

.image {
    display: block;
    margin-left: 44%;
    margin-right: auto;
    max-width: 90%;
}

.nav {
    float: right;
    background-color: rgb(202, 202, 202);
    width: fit-content;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
}

.image, .nav {
    border: 5px double black;
    border-radius: 15px;
}